BETTER_AUTH_SECRET=your_secret_key_here
BETTER_AUTH_URL=http://localhost:3000

DATABASE_URL=postgres://username:password@localhost:5432/database_name

TRUSTED_ORIGIN=http://localhost:4200

RP_ID=localhost
RP_NAME=Better Auth Demo App

APP_NAME="Better Auth Demo"

SMTP_HOST=localhost
SMTP_PORT=1025
SMTP_USER=
SMTP_PASS=
MAIL_FROM="Auth <no-reply@example.com>"

GOOGLE_CLIENT_ID=google_client_id_here
GOOGLE_CLIENT_SECRET=google_client_secret_here

DISCORD_CLIENT_ID=discord_client_id_here
DISCORD_CLIENT_SECRET=discord_client_secret_here